<h1>New User Form</h1>
<p>Enter your account information</p>

<%= form_tag(users_path, :method => 'post') do %>
  <%= label_tag('username', 'Username:') %>
  <%= text_field_tag('username') %>
  <%= label_tag('email', 'Email:') %>
  <%= text_field_tag('email') %>
  <%= submit_tag('Submit') %>
  <!-- fields below will be used when authentication is added -->
  <%=# label_tag('password', 'Password:') %>
  <%=# text_field_tag('password') %>
  <%=# label_tag('password_confirmation', 'Confirm Password:') %>
  <%=# text_field_tag('password_confirmation') %>
<% end %>
