<h1>Game in progress:
  <%= game.white_player.username %> (white) vs.
  <%= game.black_player.username %> (black)
</h1>
<%#= link_to "(Refresh game)", game %>

<div class='game-status-info'>
  <p>
    <%= move_status_message(game) %><br>
    Captures -- Black: <%= game.black_capture_count %>,
                White: <%= game.white_capture_count %>
  </p>
</div>
