<div id='undo-approval-container'>

<div class='modal-message'>
  Your opponenet
  <span class='notice-highlight'><%= current_user.username %></span>
  has requested an undo for their most recent move.<br>
  Do you want to allow the undo?
</div>

<%= form_tag({ action: :undo_turn }, { id: 'undo-approval-form' }) do %>
  <%= submit_tag 'Yes', name: 'approved', id: 'yes-button', class: 'button' %>
  <%= submit_tag 'No', name: 'rejected', id: 'no-button', class: 'button' %>
  <%= hidden_field_tag :undo_data, undo_data %>
<% end %>

</div>
