<h1>Open Games</h1>
<h3>Find a game to join!</h3>

<table id='open-games-table' class='game-list'>
  <thead>
    <tr>
      <th class='username-col'>User</th>
      <th class='board-size-col centered'>Size</th>
      <th class='index-description-col'>Description</th>
      <th class='first-link-col centered'>Join</th>
    </tr>
  </thead>

  <% @open_games.each do |game| %>
    <tr>
      <td><%= game.creator.username %></td>
      <td class='centered'><%= game.board_size %> x <%= game.board_size %></td>
      <td><%= game.description %></td>
      <td class='centered'>
        <% if game.creator != current_user %>
          <%= link_to "Join", join_game_path(game), class: 'join-game-link', "data-username" => game.creator.username %>
        <% else %>
          -
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create new game", new_game_path %></p>

<div id="join-game-content-wrapper" class='hidden'>
  <div class='join-game-content'>
    <%= render 'join_game_form' %>
  </div>
</div>

<% javascript 'index.js' %>
