<%= render "layouts/back_to_games_list" %>

<h1>New Game</h1>

<%= render 'layouts/form_errors', :form_obj => @game if @game %>

<%= form_for @game, url: { :action => :create } do |f| %>
  <p>
    <%= f.label('description', 'Description:') %>
    <%= f.text_field('description') %>
  </p>
  <%= f.label('board_size', 'Size:') %>
  <%= f.select('board_size', board_size_options) %>
  <p><%= f.submit('Submit') %></p>
<% end %>
