<%= render "layouts/back_to_games_list" %>

<div id='game_container'>

  <div id='header_container'>
    <%= render 'game_stats', { game: @game } %>
  </div>

  <div id='board_container'>
    <%= form_tag({ action: :update }, { id: 'board-form' , remote: true }) do %>
      <div id='game-actions-container'>
        <%= submit_tag 'Pass', name: 'pass', class: 'button', disabled: current_user != @game.active_player %>
      </div>

      <table class='board-table'>
        <%= render partial: 'games/tile', collection: @tiles %>
      </table>
    <% end %>
  </div>

</div>

<%= javascript_tag do %>
  window.game_id = '<%= @game.id %>';
  window.move_num = <%= @game.move_num + 1 %>;
<% end %>

<% javascript 'games.js', 'event_emitter.js', 'sockjs_client', 'sockjs-0.3.min.js' %>
