<%= render "layouts/back_to_games_list" %>

<div id='game_container'>

  <div id='header_container'>
    <%= render 'game_stats', { game: @game } %>
  </div>

  <div id='board_container'>
    <div id='game-actions-container'>

      <%= form_tag({ action: :update }, { id: 'game-action-form', remote: true }) do %>
        <%= submit_tag 'Done', name: 'done-scoring', class: 'button' if @game.end_game_scoring? %>
        <%= submit_tag 'Pass', name: 'pass', class: 'button', disabled: current_user != @game.active_player %>
      <% end %>

      <%= form_tag({ action: :request_undo }, { id: 'request-undo-form', remote: true }) do %>
        <%= submit_tag 'Undo', class: 'button', id: 'undo-button', disabled: !@game.played_a_move(current_user) %>
        <%= hidden_field_tag 'connection_id', @connection_id %>
      <% end %>
    </div>

    <table class='board-table'>
      <%= render partial: 'games/tile', collection: @tiles %>
    </table>
  </div>

</div>

<%= javascript_tag do %>
  window.game_id = '<%= @game.id %>';
  window.connection_id = '<%= @connection_id %>';
<% end %>

<% javascript 'modal.js', 'games.js', 'event_emitter.js', 'sockjs_client', 'sockjs-0.3.min.js' %>
