<%= render "layouts/back_to_games_list" %>

<div id='game_container'>

  <div id='header-container'>
    <%= render 'game_stats', { game: @game } %>
  </div>

  <div id='table-container'>
    <div id='board_container' class='centered-tables'>
      <div id='game-actions-container'>
        <%= form_tag({ action: :pass_turn }, { id: 'pass-turn-form' }) do %>
          <%= submit_tag 'Pass', class: 'button', id: 'pass-button',
            disabled: current_player.not_their_turn? || @game.finished? %>
        <% end %>

        <%= form_tag({ action: :request_undo }, { id: 'request-undo-form', remote: true }) do %>
          <%= submit_tag 'Undo', class: 'button', id: 'undo-button',
            disabled: current_player.hasnt_played_a_move? || @game.finished? %>
          <%= hidden_field_tag 'connection_id', @connection_id %>
        <% end %>

        <%= form_tag({ action: :done_scoring }, { id: 'done-scoring-form' }) do %>
          <% css_classes = ["button", ("hidden" if !@game.end_game_scoring?)] %>
          <%= submit_tag 'Done', name: 'done', class: css_classes.compact.join(" "), id: "done-scoring-button",
            disabled: current_player.not_part_of_game? || @game.finished? %>
        <% end %>

        <%= form_tag({ action: :resign }, { id: 'resign-form' }) do %>
          <%= submit_tag 'Resign', name: 'resign', class: "button", id: "resign-button",
            disabled: current_player.not_part_of_game? || @game.finished? %>
        <% end %>
      </div>

      <%= form_tag({ action: :new_move }, { id: 'board-form' }) do %>
        <table id='board-table' class='board-table'>
          <%= render partial: 'games/tile', collection: @tiles %>
        </table>
      <% end %>
    </div>

    <div id='chat-container' class='centered-tables'>
      <div id='chat-header'><h1 class='header-text'>Game Chat</h1></div>

      <table id='chat-table'>
        <tr id='top-buffer-row'></tr>
        <tr id='bottom-buffer-row'></tr>
        <tr id='chat-input-row'>
          <td id='message-input-cell' colspan="3">
            <%= text_field_tag 'message', nil, class: 'message-input', id: 'message-input' %>
          </td>
          <td id='chat-button-cell'>
            <%= button_tag 'Send', id: 'send-message-button' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="resign-confirmation-wrapper" class='hidden'>
  <div class='confirmation-content'>
    <%= render 'resign_confirmation_dialog' %>
  </div>
</div>

<%= javascript_tag do %>
  window.room_id = '<%= @room_id %>';
  window.connection_id = '<%= @connection_id %>';
  window.username = '<%= current_player.username %>';

  <% if @just_entered_scoring_phase %>
    $(document).ready(function() {
      update_scoring(<%= @json_scoring_data.html_safe %>);
    });
  <% end %>
<% end %>

<% javascript 'games.js' %>
