<!DOCTYPE html>
<html>
<head>
  <title>GoApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice].present? %>
    <p class='notice'><b>Notice:</b> <%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert].present? %>
    <p class='alert'><b>Alert:</b> <%= flash[:alert] %></p>
  <% end %>

  <%= yield %>

</body>
</html>
